.fade-roll-appear,
.fade-roll-enter {
  opacity: 0;
  position: fixed;
  transform: translateX(150%);
}
.fade-roll-appear-active,
.fade-roll-enter.fade-roll-enter-active {
  opacity: 1;
  position: fixed;
  transform: translateX(0);
  transition: all 300ms ease-out;
}
.fade-roll-exit {
  opacity: 1;
  position: fixed;
  transform: translateX(0);
}
.fade-roll-exit.fade-roll-exit-active {
  opacity: 0;
  position: fixed;
  transform: translateX(150%);
  transition: all 250ms ease-in;
}

.home-fade-appear,
.home-fade-enter {
  opacity: 0;
  position: fixed;
}
.home-fade-appear-active,
.home-fade-enter.home-fade-enter-active {
  opacity: 1;
  position: fixed;
  transition: all 300ms ease-out 100ms;
}
.home-fade-exit {
  opacity: 1;
  position: fixed;
}
.home-fade-exit.home-fade-exit-active {
  opacity: 0;
  position: fixed;
  transition: all 200ms ease-in;
}
